<h4 class="page-title">{{ctrl.title}}</h4>
<ncy-breadcrumb></ncy-breadcrumb>
<maintain-country-language ng-if="ctrl.countryLanguage"></maintain-country-language>
<maintain-follow-up-code ng-if="ctrl.followUpCode"></maintain-follow-up-code>
<maintain-debit-code ng-if="ctrl.debitCode"></maintain-debit-code>
<maintain-return-code ng-if="ctrl.returnCode"></maintain-return-code>
<maintain-defect-code ng-if="ctrl.defectCode"></maintain-defect-code>
<maintain-reject-code ng-if="ctrl.rejectCode"></maintain-reject-code>
<maintain-function-group ng-if="ctrl.functionGroup"></maintain-function-group>
<maintain-currency-rate ng-if="ctrl.currencyRate"></maintain-currency-rate>
<maintain-authorized-currency ng-if="ctrl.authorizedCurrency"></maintain-authorized-currency>
<maintain-cost-adjustment-factor ng-if="ctrl.costAdjustmentFactor"></maintain-cost-adjustment-factor>
<maintain-material-group ng-if="ctrl.materialGroup"></maintain-material-group>
