.bgColor {
  background-color: #46546a;
  margin-left: 5px !important;
  color: #ffffff;
  padding: 8px !important;
}
.alignMarginTop {
  margin-top: 10px !important;
}
.advanced-search-filter {

  .removePaddingLeft {
    padding-left: 0 !important;
  }
  .paddingLeft15{
    padding-left: 15px !important;
  }
  .paddingLeft30{
    padding-left: 30px !important;
  }


}
.header_bgColor {
  background: #cacaca !important;
  margin: 0 !important;
}
.floatRight{
  float: right !important;
}
