.claim-job-header {
  .row {
    margin-bottom: 5px;
  }
  .panel-body {

  }
  .norightpad {
    padding-right: 0;
  }
  .noleftpad {
    padding-left: 0;
  }
  .nopad {
    padding-right: 0px;
    padding-left: 0px;
  }
  input[type="checkbox"].noleftmarg, .checkbox-inline input[type="checkbox"].noleftmarg {
    margin-left: 0px;
  }
  .span-after-label {
    line-height: 30px;
    display: block;
    font-size: 12px;
  }
  .content-footer {
    padding: 15px;
    padding-bottom: 50px;
    text-align: right;
  }
}

