.list-claim-jobs {
  .ui-grid-canvas {
    .delete-button {
      padding: 1px 5px;
      line-height: 1.4;
    }
    .fa-stack .fa-2x {
      padding: 0 !important;
    }
    .fa-stack {
      line-height: 1.8em;
    }
    // TODO: Refactor, affecting global variables
    .fa, .fa-clock-o {
      font-size: 20px;
      margin-top: 4px;
    }
    .green_color {
      color: #00B000;
    }
    .red_color {
      color: #FF0000;
    }
    .white_color {
      color: white;
    }
    .yellow_color {
      color: #FFE77C;
    }
    .black_color {
      color: black;
    }
    .blue_color {
      color: #1F497D;
    }
    .lightblue_color {
      color: #416E87;
    }
    .fa-clock-o, .fa-hand-o-right {
      margin-top: -4px;
    }
    .fa-trash-o {
      font-size: 16px;
      color: red;
      cursor: pointer;
    }
    .fa-trash {
      font-size: 12px;
    }

    .fa-times, .fa-check, .fa-reply, .fa-usd, .fa-sticky-note, .fa-file, .fa-file-zip-o, .fa-user, .fa-flag, .fa-eye-slash {
      font-size: 11px !important;
      margin-top: -7px;
    }

    .fa-thirdIcon {
      clear: both;
      font-size: 10px !important;
      margin-top: 12px !important;
      margin-left: 0 !important;
    }

    .fa-thirdIcon_exchange {
      clear: both;
      font-size: 9px !important;
      margin-top: 15px !important;
      margin-left: 4px !important;
    }
    .fa-reply_Aligndown {
      clear: both;
      font-size: 10px !important;
      margin-top: 17px !important;
      margin-left: 1px !important;
    }

    .fa-rotate-45 {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .fa-rotate-185 {
      -webkit-transform: rotate(185deg);
      -moz-transform: rotate(185deg);
      -ms-transform: rotate(185deg);
      -o-transform: rotate(185deg);
      transform: rotate(185deg);
    }
  }

  .btn_alignRight {
    text-align: right;
    padding: 5px 0 !important;
  }


  .panel.panel-murali.panel-default.list-claim-jobs-search-filter {
    // Regerding Penta Peter feedback to save more space;
    padding-bottom: 0px;
    margin-top: -10px;
  }

  #repairDateFrom > input,
  #repairDateTo > input,
  #registrationDateFrom > input,
  #registrationDateTo > input,
  select.form-control {
    font-size: 11px;
    padding-right: 0;
  }

  #machIdCHSeries {
    font-size: 11px !important;
    padding-left: 10px;
    padding-right: 0;
  }

  select#typeOfClaim {
    height: 29px;
  }
}
