.view-repair-history-search-filter {
  .content-footer {
    padding: 15px;
    text-align: right;
  }
  .noleftpad {
    padding-left: 0;
    padding-right: 1px;
  }
  .norightpad {
    padding-right: 0;
  }
  .nopad {
    padding-right: 0;
    padding-left: 0;
  }
  .form-control.ng-pristine {
    color: #222222;
  }
}

.vehicle-modal-link {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
