<div class="create-document-modal murali-modal text-center">
  <div>
    <div class="modal-header" ng-if="vm.content">
      <div class="modal-title-container">
        <h3 class="modal-title-header">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          {{vm.content.title | translate}}
        </h3>
      </div>

      <div class="modal-body">
        <div class="modal-message-header">
          {{vm.content.message | translate}}
        </div>
        <br>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            {{vm.content.subMessage | translate}}
          </div>
        </div>
      </div>
    </div>

    <div class="modal-header" ng-if="!vm.content">
      <h4 class="modal-title">Vehicle</h4>
      <div class="modal-body">
        <div style="background-color: lightcyan;" id="grid" ui-grid="vm.gridOptions" ui-grid-selection
             ui-grid-pagination
             class="gridStyle"></div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-yes btn-success" type="button" ng-click="vm.ok()">
      {{"COMMON.MODAL.YES"  | translate}}
    </button>
    <button class="btn btn-no btn-default" type="button" ng-click="vm.cancel()">
      {{"COMMON.MODAL.NO" | translate}}
    </button>
  </div>
</div>
