.panel-murali.list-claim-jobs-search-filter {
  .repair-header {
    margin-right: 0;
  }
  .claim-job-header {
    margin-left: 0;
  }
}
.printStatusIconWrapper .fa-stack-2x {
  width: auto !important;
  padding-left: 10px !important;
}
.printStatusIconWrapper .fa, .printStatusIconWrapper .fa-print {
  font-size: 12px;
}
.printStatusIconWrapper .fa-thirdIcon-exclamation {
  clear: both;
  font-size: 14px !important;
  margin-top: 14px !important;
  margin-left: 18px !important;
}
