.print-credit-document-list {
  .save_glyphiconsize{
    font-size: 16px !important;
    padding:5px;
    cursor: pointer;
  }
  .grid-icon {
    font-size: 18px;
    margin: 3px 5px 0 0;
  }
  .aligncenter{
    text-align: center;
    line-height: 3;
  }

}

.downloadIconAlignCenter{
  padding: 0 5px 5px 5px !important;
}

