<!-- START search-filter-form -->
<div class="panel panel-murali panel-default print-outstanding-claim-summary-search-filter">
  <div class="panel-heading">
    <span class="">Filter documents</span>
  </div>
  <div class="panel-body">
    <form
      class="form-horizontal"
      id="outstandingClaimSummaryDocumentForm"
      name="outstandingClaimSummaryDocumentForm"
      novalidate="novalidate"
      ng-submit="ctrl.SearchOutstandingClaimSummaryDocuments();"
      role="form">
        <!--First Column -->
        <div class="col-md-4">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 col-lg-4">
                <label class="control-label">{{ 'PRINT_CREDIT_DOCUMENT.MODAL.COMPANY' | translate }}
                  <span class="murali-asterisk"> *</span>
                </label>
              </div>
              <div class="col-md-8 col-lg-8 fieldValueCellalignment">
                <span
                  id="companyNo">{{ctrl.selectCompanies[ctrl.selectedCompany - 1].name}}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 col-lg-4">
                <label class="control-label" for="ImporterNo">
                  {{ 'LABEL.IMPORTER.' + ctrl.selectedCompany | translate}}
                  <span class="murali-asterisk"> *</span>
                </label>
              </div>
              <div class="col-md-8 col-lg-8">
                <input
                  class="form-control"
                  id="importerNo"
                  ng-maxlength="7"
                  name="importerno"
                  ng-model="ctrl.outstandingClaimSummaryDocumentForm.importerno"
                  ng-trim="true"
                  required="required"
                  focus-if
                  ng-pattern="ctrl.OnlyNumbers"
                  placeholder="{{ 'LABEL.IMPORTER.' + ctrl.selectedCompany | translate }}"
                  type="text">
                <div
                  class="has-error"
                  ng-if="outstandingClaimSummaryDocumentForm.importerno.$touched && outstandingClaimSummaryDocumentForm.importerno.$error"
                  ng-messages="outstandingClaimSummaryDocumentForm.importerno.$error">
                  <div
                    ng-messages-include="components/common/validation-error/validation-error.html"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 col-lg-4">
                <label class="control-label" for="dealerNo">
                  {{ 'LABEL.DEALER.' + ctrl.selectedCompany | translate}}
                  <span class="murali-asterisk"> *</span>
                </label>
              </div>
              <div class="col-md-8 col-lg-8">
                <input
                  class="form-control"
                  id="dealerNo"
                  name="dealerno"
                  ng-model="ctrl.outstandingClaimSummaryDocumentForm.dealerno"
                  ng-maxlength="6"
                  ng-trim="true"
                  required="required"
                  ng-pattern="ctrl.DealerPattern"
                  placeholder="{{ 'LABEL.DEALER.' + ctrl.selectedCompany | translate }}"
                  type="text">
                <div
                  class="has-error"
                  ng-if="outstandingClaimSummaryDocumentForm.dealerno.$touched && outstandingClaimSummaryDocumentForm.dealerno.$error"
                  ng-messages="outstandingClaimSummaryDocumentForm.dealerno.$error">
                  <div ng-if="outstandingClaimSummaryDocumentForm.dealerno.$error.pattern">
                    <p class="help-block">{{"VALIDATION.ERROR.ALPHANUMERIC" | translate}}</p>
                  </div>
                  <div
                    ng-if="!outstandingClaimSummaryDocumentForm.dealerno.$error.pattern">
                  <div
                    ng-messages-include="components/common/validation-error/validation-error.html"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 col-lg-4">
                <label class="control-label" for="droplistMenuBrand">{{ 'PRINT_CREDIT_DOCUMENT.MODAL.BRAND' | translate
                  }}</label>
              </div>
              <div class="col-md-8 col-lg-8">
                <select
                  class="form-control"
                  id="droplistMenuBrand"
                  ng-model="ctrl.outstandingClaimSummaryDocumentForm.selectedbrandkeyval"
                  ng-options="option.key as option.displayText for option in ctrl.brandlists"></select>
              </div>
            </div>
          </div>
          <div class="form-group has-feedback">
            <div class="row">
              <div class="col-md-4 col-lg-4">
                <label class="control-label" for="creationdatefrom">{{ 'creditingDocCompanySearchCriteria.creationDateFromTo' |
                  translate }}</label>
              </div>
              <div class="col-sm-4 onerightpad">
                <div
                  datetimepicker="datetimepicker"
                  id="creationdatefrom"
                  name="creationdatefrom"
                  class="input-group"
                  ng-model="ctrl.outstandingClaimSummaryDocumentForm.creationdatefrom"
                  options="ctrl.datePickerOptions">
                  <input
                    class="form-control"
                    placeholder="dd/MM/yy"
                    type="text"/>
                  <span class="input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div class="col-sm-4 noleftpad">
                <div
                  datetimepicker="datetimepicker"
                  id="creationdateto"
                  name="creationdateto"
                  class="input-group"
                  ng-model="ctrl.outstandingClaimSummaryDocumentForm.creationdateto"
                  options="ctrl.datePickerOptions">
                  <input
                    class="form-control"
                    placeholder="dd/MM/yy"
                    type="text"/>
                  <span class="input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div class="col-sm-12 text-right">
                <button
                  class="btn btn-success btn-filter btn-sm"
                  ng-disabled="outstandingClaimSummaryDocumentForm.$invalid"
                  type="submit">Filter</button>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>
<div ng-if='ctrl.creditDocuments.length == 0  && !ctrl.creditDocumentForm.$submitted'>
  <div class="alert alert-info text-center" role="alert">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <strong>{{'creditingDocSearchCriteria.noSelected.title' | translate }}</strong><br />
    {{'creditingDocSearchCriteria.noSelected.message' | translate }}
  </div>
</div>
<div ng-if='ctrl.creditDocuments.length == 0  && ctrl.creditDocumentForm.$submitted'>
  <div class="alert alert-info text-center" role="alert">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <strong>{{'creditingDocSearchCriteria.noItems.title' | translate }}</strong><br />
    {{'creditingDocSearchCriteria.noItems.message' | translate }}
  </div>
</div>
