<p class="help-block" ng-message="required">{{"VALIDATION.ERROR.REQUIRED" | translate}}</p>
<p class="help-block" ng-message="pattern">{{"VALIDATION.ERROR.PATTERN" | translate}}</p>
<p class="help-block" ng-message="minlength">{{"VALIDATION.ERROR.MINLENGTH" | translate}}</p>
<p class="help-block" ng-message="maxlength">{{"VALIDATION.ERROR.MAXLENGTH" | translate}}</p>
<p class="help-block" ng-message="number">{{"VALIDATION.ERROR.NUMBER" | translate}}</p>
<p class="help-block" ng-message="email">{{"VALIDATION.ERROR.EMAIL" | translate}}</p>
