<div class="row home-container">
  <div class="col-lg-5 col-sm-4 text-center">
    <img class="home-welcome-image" src="assets/images/welcome-image.png" />
  </div>
  <div class="col-lg-5 col-sm-6 col-sm-offset-1">
    <p class="lead home-lead">
      UCHP is a system used for handling claims in a unified way in all markets.<br>
      The purpose of UCHP is to secure that the customers are handled in the same way in all markets as well as increase the efficiency of the warranty process.
    </p>
    <div class="lead home-notice">
      <div class="noticeText">Notice:</div>
      Information found in UCHP is confidential business information and is to be made available only to the approved user and its designated employees.
      It contains privileged, confidential and proprietary information and any unauthorized use or distribution of this information,
      by or to persons other than approved user and its designated employees, is strictly prohibited.
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
